/Data/train.zip
/Data/df_es_train.pickle
/Data/df_us_train.pickle
/Data/0train/
/Data/Data.zip
/Data/train/df_es_train.pickle
/Data/train/df_us_train.pickle
*.ipynb_checkpoints
*_old*
cardiffnlp/
entrega_hito_2_grupo_1*
modelos/
bertweet_base_emoji/
twitter_roberta_base_emoji/
beto_emoji/
__pycache__
mprof*
*.zip
Hitos/H3/notebooks_clustering/analisis_clustering.py
Hitos/H3/notebooks_clustering/bertweet_dbscan_us_dm.pickle
Hitos/H3/notebooks_clustering/bertweet_dbscan_us_report.pickle
Hitos/H3/notebooks_clustering/bertweet_gm_us_dm.pickle
Hitos/H3/notebooks_clustering/bertweet_gm_us_report.pickle
Hitos/H3/notebooks_clustering/bertweet_hc_us_dm.pickle
Hitos/H3/notebooks_clustering/bertweet_hc_us_report.pickle
Hitos/H3/notebooks_clustering/bertweet_kmeans_us_dm.pickle
Hitos/H3/notebooks_clustering/bertweet_kmeans_us_report.pickle
Hitos/H3/notebooks_clustering/bertweet_pca_us_projection.pickle
Hitos/H3/notebooks_clustering/bertweet_tsne_us_projection.pickle
Hitos/H3/notebooks_clustering/bertweet_umap_us_projection.pickle
Hitos/H3/notebooks_clustering/beto_dbscan_es_dm.pickle
Hitos/H3/notebooks_clustering/beto_dbscan_es_report.pickle
Hitos/H3/notebooks_clustering/BETO_embeddings_tweet_ES.ipynb
Hitos/H3/notebooks_clustering/beto_gm_es_dm.pickle
Hitos/H3/notebooks_clustering/beto_gm_es_report.pickle
Hitos/H3/notebooks_clustering/beto_hc_es_dm.pickle
Hitos/H3/notebooks_clustering/beto_hc_es_report.pickle
Hitos/H3/notebooks_clustering/beto_kmeans_es_dm.pickle
Hitos/H3/notebooks_clustering/beto_kmeans_es_report.pickle
Hitos/H3/notebooks_clustering/beto_pca_es_projection.pickle
Hitos/H3/notebooks_clustering/beto_tsne_es_projection.pickle
Hitos/H3/notebooks_clustering/beto_umap_es_projection.pickle
Hitos/H3/notebooks_clustering/bow_dbscan_es_dm.pickle
Hitos/H3/notebooks_clustering/bow_dbscan_es_report.pickle
Hitos/H3/notebooks_clustering/bow_dbscan_us_dm.pickle
Hitos/H3/notebooks_clustering/bow_dbscan_us_report.pickle
Hitos/H3/notebooks_clustering/bow_gm_es_dm.pickle
Hitos/H3/notebooks_clustering/bow_gm_es_report.pickle
Hitos/H3/notebooks_clustering/bow_gm_us_dm.pickle
Hitos/H3/notebooks_clustering/bow_gm_us_report.pickle
Hitos/H3/notebooks_clustering/bow_hc_es_dm.pickle
Hitos/H3/notebooks_clustering/bow_hc_es_report.pickle
Hitos/H3/notebooks_clustering/bow_hc_us_dm.pickle
Hitos/H3/notebooks_clustering/bow_hc_us_report.pickle
Hitos/H3/notebooks_clustering/bow_kmeans_es_dm.pickle
Hitos/H3/notebooks_clustering/bow_kmeans_es_report.pickle
Hitos/H3/notebooks_clustering/bow_kmeans_us_dm.pickle
Hitos/H3/notebooks_clustering/bow_kmeans_us_report.pickle
Hitos/H3/notebooks_clustering/bow_pca_es_projection.pickle
Hitos/H3/notebooks_clustering/bow_pca_us_projection.pickle
Hitos/H3/notebooks_clustering/bow_tsne_es_projection.pickle
Hitos/H3/notebooks_clustering/bow_tsne_us_projection.pickle
Hitos/H3/notebooks_clustering/bow_umap_es_projection.pickle
Hitos/H3/notebooks_clustering/bow_umap_us_projection.pickle
Hitos/H3/notebooks_clustering/clusterings_usando_bertweet_US.ipynb
Hitos/H3/notebooks_clustering/clusterings_usando_beto_ES.ipynb
Hitos/H3/notebooks_clustering/clusterings_usando_bow_ES.ipynb
Hitos/H3/notebooks_clustering/clusterings_usando_bow_US.ipynb
Hitos/H3/notebooks_clustering/clusterings_usando_tfidf_ES.ipynb
Hitos/H3/notebooks_clustering/clusterings_usando_tfidf_US.ipynb
Hitos/H3/notebooks_clustering/clusterings_usando_word2vec_ES.ipynb
Hitos/H3/notebooks_clustering/clusterings_usando_word2vec_US.ipynb
Hitos/H3/notebooks_clustering/df_es_train.pickle
Hitos/H3/notebooks_clustering/es_emoji_w2v.model
Hitos/H3/notebooks_clustering/es_train_w2v_sentence_embedding.pickle
Hitos/H3/notebooks_clustering/tfidf_dbscan_es_dm.pickle
Hitos/H3/notebooks_clustering/tfidf_dbscan_es_report.pickle
Hitos/H3/notebooks_clustering/tfidf_dbscan_us_dm.pickle
Hitos/H3/notebooks_clustering/tfidf_dbscan_us_report.pickle
Hitos/H3/notebooks_clustering/tfidf_gm_es_dm.pickle
Hitos/H3/notebooks_clustering/tfidf_gm_es_report.pickle
Hitos/H3/notebooks_clustering/tfidf_gm_us_dm.pickle
Hitos/H3/notebooks_clustering/tfidf_gm_us_report.pickle
Hitos/H3/notebooks_clustering/tfidf_hc_es_dm.pickle
Hitos/H3/notebooks_clustering/tfidf_hc_es_report.pickle
Hitos/H3/notebooks_clustering/tfidf_hc_us_dm.pickle
Hitos/H3/notebooks_clustering/tfidf_hc_us_report.pickle
Hitos/H3/notebooks_clustering/tfidf_kmeans_es_dm.pickle
Hitos/H3/notebooks_clustering/tfidf_kmeans_es_report.pickle
Hitos/H3/notebooks_clustering/tfidf_kmeans_us_dm.pickle
Hitos/H3/notebooks_clustering/tfidf_kmeans_us_report.pickle
Hitos/H3/notebooks_clustering/tfidf_pca_es_projection.pickle
Hitos/H3/notebooks_clustering/tfidf_pca_us_projection.pickle
Hitos/H3/notebooks_clustering/tfidf_tsne_es_projection.pickle
Hitos/H3/notebooks_clustering/tfidf_tsne_us_projection.pickle
Hitos/H3/notebooks_clustering/tfidf_umap_es_projection.pickle
Hitos/H3/notebooks_clustering/tfidf_umap_us_projection.pickle
Hitos/H3/notebooks_clustering/train_w2v_models_from_data.ipynb
Hitos/H3/notebooks_clustering/us_emoji_w2v.model
Hitos/H3/notebooks_clustering/w2v_dbscan_es_dm.pickle
Hitos/H3/notebooks_clustering/w2v_dbscan_es_report.pickle
Hitos/H3/notebooks_clustering/w2v_dbscan_us_dm.pickle
Hitos/H3/notebooks_clustering/w2v_dbscan_us_report.pickle
Hitos/H3/notebooks_clustering/w2v_gm_es_dm.pickle
Hitos/H3/notebooks_clustering/w2v_gm_es_report.pickle
Hitos/H3/notebooks_clustering/w2v_gm_us_dm.pickle
Hitos/H3/notebooks_clustering/w2v_gm_us_report.pickle
Hitos/H3/notebooks_clustering/w2v_hc_es_dm.pickle
Hitos/H3/notebooks_clustering/w2v_hc_es_report.pickle
Hitos/H3/notebooks_clustering/w2v_hc_us_dm.pickle
Hitos/H3/notebooks_clustering/w2v_hc_us_report.pickle
Hitos/H3/notebooks_clustering/w2v_kmeans_es_dm.pickle
Hitos/H3/notebooks_clustering/w2v_kmeans_es_report.pickle
Hitos/H3/notebooks_clustering/w2v_kmeans_us_dm.pickle
Hitos/H3/notebooks_clustering/w2v_kmeans_us_report.pickle
Hitos/H3/notebooks_clustering/w2v_pca_es_projection.pickle
Hitos/H3/notebooks_clustering/w2v_pca_us_projection.pickle
Hitos/H3/notebooks_clustering/w2v_tsne_es_projection.pickle
Hitos/H3/notebooks_clustering/w2v_tsne_us_projection.pickle
Hitos/H3/notebooks_clustering/w2v_umap_es_projection.pickle
Hitos/H3/notebooks_clustering/w2v_umap_us_projection.pickle
*.model
Hitos/H3/pytorch/config.json
Hitos/H3/pytorch/pytorch_model.bin
Hitos/H3/pytorch/vocab.txt
Hitos/H3/es_emoji_w2v.model
Hitos/H3/pytorch_weights.tar.gz
Hitos/H3/Informe_Hito_3_entregable.html
Hitos/H3/Informe_Hito_3_entregable.ipynb
Entregable/
entregable/
