/Data/train.zip
/Data/df_es_train.pickle
/Data/df_us_train.pickle
/Data/0train/
/Data/Data.zip
/Data/train/df_es_train.pickle
/Data/train/df_us_train.pickle
*.ipynb_checkpoints
*_old*
cardiffnlp/
entrega_hito_2_grupo_1*
modelos/
bertweet_base_emoji/
twitter_roberta_base_emoji/
__pycache__
mprof*
*.zip
